.pdfDesc{
    position: absolute;
    left: 268px;
    top: 113px;
    padding: 10px;
    background-color: darkseagreen;
}

.imgCv{
    position: absolute;
    left: 490px;
    top: 115px;
}

.imgCv img{
    width: 80%;
}

.containerPdf{
   height: 130vh;
}

@media screen and (max-width: 360px){
    .pdfDesc{
        left: 20px;
        top: 92px;
    }
    
    .imgCv{
        left: 37px;
        top: 155px;
    }
    
    .imgCv img{
        width: 281px;
        height: 385px;
    }

}

@media screen and (max-width: 320px){
    .imgCv{
        left: 18px;
        top: 140px;
    }
}

@media screen and (max-width: 768px){
    .pdfDesc{
        left: 39px;
        top: 92px;
    }
    .imgCv {
        left: 38px;
        top: 169px;
    }

    .imgCv img{
        width: 90%;
    }
}